-- ============================================================================
-- SHADOWRUN GM - ACTUAL DATABASE SCHEMA
-- Exported from live database
-- Tables: 99
-- ============================================================================

-- annotation_tag_entity
CREATE TABLE IF NOT EXISTS annotation_tag_entity (
    id VARCHAR(16) NOT NULL,
    name VARCHAR(24) NOT NULL,
    createdAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    updatedAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    PRIMARY KEY (id)
);


-- audit_log
CREATE TABLE IF NOT EXISTS audit_log (
    id UUID NOT NULL DEFAULT gen_random_uuid(),
    table_name VARCHAR(100) NOT NULL,
    record_id UUID NOT NULL,
    operation VARCHAR(10) NOT NULL,
    changed_by UUID,
    changed_by_type VARCHAR(20) DEFAULT 'USER'::character varying,
    changed_at TIMESTAMP DEFAULT NOW(),
    old_values JSONB,
    new_values JSONB,
    change_reason TEXT,
    session_info JSONB,
    FOREIGN KEY (changed_by) REFERENCES users(id) ON DELETE CASCADE,
    PRIMARY KEY (id)
);


-- auth_identity
CREATE TABLE IF NOT EXISTS auth_identity (
    userId UUID,
    providerId VARCHAR(64) NOT NULL,
    providerType VARCHAR(32) NOT NULL,
    createdAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    updatedAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    PRIMARY KEY (providerId),
    PRIMARY KEY (providerId),
    PRIMARY KEY (providerType),
    PRIMARY KEY (providerType),
    FOREIGN KEY (userId) REFERENCES user(id) ON DELETE CASCADE
);


-- auth_provider_sync_history
CREATE TABLE IF NOT EXISTS auth_provider_sync_history (
    id INTEGER NOT NULL DEFAULT nextval('auth_provider_sync_history_id_seq'::regclass),
    providerType VARCHAR(32) NOT NULL,
    runMode TEXT NOT NULL,
    status TEXT NOT NULL,
    startedAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP,
    endedAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP,
    scanned INTEGER NOT NULL,
    created INTEGER NOT NULL,
    updated INTEGER NOT NULL,
    disabled INTEGER NOT NULL,
    error TEXT,
    PRIMARY KEY (id)
);


-- campaign_characters
CREATE TABLE IF NOT EXISTS campaign_characters (
    campaign_id UUID NOT NULL,
    character_id UUID NOT NULL,
    is_active BOOLEAN DEFAULT true,
    joined_at TIMESTAMP DEFAULT NOW(),
    FOREIGN KEY (campaign_id) REFERENCES campaigns(id) ON DELETE CASCADE,
    FOREIGN KEY (character_id) REFERENCES characters(id) ON DELETE CASCADE,
    PRIMARY KEY (campaign_id),
    PRIMARY KEY (campaign_id),
    PRIMARY KEY (character_id),
    PRIMARY KEY (character_id)
);


-- campaign_npcs
CREATE TABLE IF NOT EXISTS campaign_npcs (
    id UUID NOT NULL DEFAULT gen_random_uuid(),
    campaign_id UUID NOT NULL,
    name TEXT NOT NULL,
    description TEXT,
    role TEXT,
    location TEXT,
    status TEXT DEFAULT 'active'::text,
    relevance TEXT DEFAULT 'current'::text,
    stats JSONB,
    notes TEXT,
    first_encountered TIMESTAMP DEFAULT NOW(),
    last_mentioned TIMESTAMP DEFAULT NOW(),
    created_at TIMESTAMP DEFAULT NOW(),
    PRIMARY KEY (id),
    FOREIGN KEY (campaign_id) REFERENCES campaigns(id) ON DELETE CASCADE
);


-- campaigns
CREATE TABLE IF NOT EXISTS campaigns (
    id UUID NOT NULL DEFAULT gen_random_uuid(),
    title TEXT NOT NULL,
    description TEXT,
    theme TEXT,
    current_situation TEXT,
    location TEXT,
    objectives JSONB DEFAULT '[]'::jsonb,
    active_complications JSONB DEFAULT '[]'::jsonb,
    completed_milestones JSONB DEFAULT '[]'::jsonb,
    session_id TEXT,
    created_at TIMESTAMP DEFAULT NOW(),
    updated_at TIMESTAMP DEFAULT NOW(),
    PRIMARY KEY (id)
);


-- character_active_effects
CREATE TABLE IF NOT EXISTS character_active_effects (
    id UUID NOT NULL DEFAULT gen_random_uuid(),
    character_id UUID,
    effect_type TEXT NOT NULL,
    effect_name TEXT NOT NULL,
    target_type TEXT NOT NULL,
    target_name TEXT NOT NULL,
    modifier_value INTEGER NOT NULL,
    duration_type TEXT NOT NULL,
    expires_at TIMESTAMP,
    is_active BOOLEAN DEFAULT true,
    caster_id UUID,
    force INTEGER,
    drain_taken INTEGER,
    notes TEXT,
    created_at TIMESTAMP DEFAULT NOW(),
    PRIMARY KEY (id),
    FOREIGN KEY (character_id) REFERENCES characters(id) ON DELETE CASCADE,
    FOREIGN KEY (caster_id) REFERENCES characters(id) ON DELETE CASCADE
);


-- character_campaign_links
CREATE TABLE IF NOT EXISTS character_campaign_links (
    id INTEGER NOT NULL DEFAULT nextval('character_campaign_links_id_seq'::regclass),
    character_id UUID,
    campaign_id INTEGER,
    joined_date DATE,
    left_date DATE,
    is_active BOOLEAN DEFAULT true,
    notes TEXT,
    created_at TIMESTAMP DEFAULT NOW(),
    PRIMARY KEY (id),
    UNIQUE (character_id),
    UNIQUE (character_id),
    UNIQUE (campaign_id),
    UNIQUE (campaign_id)
);


-- character_contacts
CREATE TABLE IF NOT EXISTS character_contacts (
    id UUID NOT NULL DEFAULT gen_random_uuid(),
    character_id UUID,
    name TEXT NOT NULL,
    archetype TEXT,
    loyalty INTEGER,
    connection INTEGER,
    notes TEXT,
    created_at TIMESTAMP DEFAULT NOW(),
    PRIMARY KEY (id),
    FOREIGN KEY (character_id) REFERENCES characters(id) ON DELETE CASCADE
);


-- character_cyberdecks
CREATE TABLE IF NOT EXISTS character_cyberdecks (
    id INTEGER NOT NULL DEFAULT nextval('character_cyberdecks_id_seq'::regclass),
    character_id UUID NOT NULL,
    deck_name VARCHAR(255) NOT NULL,
    mpcp INTEGER,
    hardening INTEGER,
    memory INTEGER,
    storage INTEGER,
    io_speed INTEGER,
    response_increase INTEGER,
    persona_programs JSONB DEFAULT '{}'::jsonb,
    utilities JSONB DEFAULT '{}'::jsonb,
    ai_companions JSONB DEFAULT '[]'::jsonb,
    notes TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY (id),
    FOREIGN KEY (character_id) REFERENCES characters(id) ON DELETE CASCADE
);


-- character_edges_flaws
CREATE TABLE IF NOT EXISTS character_edges_flaws (
    id UUID NOT NULL DEFAULT gen_random_uuid(),
    character_id UUID,
    name TEXT NOT NULL,
    type TEXT NOT NULL,
    description TEXT,
    created_at TIMESTAMP DEFAULT NOW(),
    PRIMARY KEY (id),
    FOREIGN KEY (character_id) REFERENCES characters(id) ON DELETE CASCADE
);


-- character_foci
CREATE TABLE IF NOT EXISTS character_foci (
    id UUID NOT NULL DEFAULT gen_random_uuid(),
    character_id UUID,
    focus_name TEXT NOT NULL,
    focus_type TEXT NOT NULL,
    force INTEGER NOT NULL,
    spell_category TEXT,
    specific_spell TEXT,
    bonus_dice INTEGER DEFAULT 0,
    tn_modifier INTEGER DEFAULT 0,
    bonded BOOLEAN DEFAULT true,
    karma_cost INTEGER,
    description TEXT,
    notes TEXT,
    created_at TIMESTAMP DEFAULT NOW(),
    FOREIGN KEY (character_id) REFERENCES characters(id) ON DELETE CASCADE,
    PRIMARY KEY (id),
    UNIQUE (character_id),
    UNIQUE (character_id),
    UNIQUE (focus_name),
    UNIQUE (focus_name)
);


-- character_gear
CREATE TABLE IF NOT EXISTS character_gear (
    id UUID NOT NULL DEFAULT gen_random_uuid(),
    character_id UUID,
    gear_name TEXT NOT NULL,
    gear_type TEXT NOT NULL,
    quantity INTEGER DEFAULT 1,
    modifications JSONB DEFAULT '{}'::jsonb,
    weapon_stats JSONB,
    notes TEXT,
    created_at TIMESTAMP DEFAULT NOW(),
    damage TEXT,
    conceal TEXT,
    ammo_capacity TEXT,
    ballistic_rating INTEGER,
    impact_rating INTEGER,
    created_by UUID,
    modified_by UUID,
    modified_at TIMESTAMP,
    deleted_at TIMESTAMP,
    deleted_by UUID,
    PRIMARY KEY (id),
    FOREIGN KEY (character_id) REFERENCES characters(id) ON DELETE CASCADE,
    FOREIGN KEY (created_by) REFERENCES users(id) ON DELETE CASCADE,
    FOREIGN KEY (modified_by) REFERENCES users(id) ON DELETE CASCADE,
    FOREIGN KEY (deleted_by) REFERENCES users(id) ON DELETE CASCADE
);


-- character_history
CREATE TABLE IF NOT EXISTS character_history (
    id INTEGER NOT NULL DEFAULT nextval('character_history_id_seq'::regclass),
    character_id INTEGER,
    change_type VARCHAR(50) NOT NULL,
    old_value JSONB,
    new_value JSONB,
    reason TEXT,
    changed_by VARCHAR(200),
    changed_at TIMESTAMP DEFAULT NOW(),
    karma_spent INTEGER DEFAULT 0,
    session_date TIMESTAMP,
    PRIMARY KEY (id),
    FOREIGN KEY (character_id) REFERENCES sr_characters(id) ON DELETE CASCADE
);


-- character_modifiers
CREATE TABLE IF NOT EXISTS character_modifiers (
    id UUID NOT NULL DEFAULT gen_random_uuid(),
    character_id UUID,
    modifier_type TEXT NOT NULL,
    target_name TEXT NOT NULL,
    modifier_value INTEGER NOT NULL,
    source TEXT NOT NULL,
    is_permanent BOOLEAN NOT NULL DEFAULT true,
    weapon_specific TEXT,
    condition TEXT,
    notes TEXT,
    created_at TIMESTAMP DEFAULT NOW(),
    source_type TEXT,
    source_id UUID,
    modifier_data JSONB DEFAULT '{}'::jsonb,
    is_homebrew BOOLEAN DEFAULT false,
    is_experimental BOOLEAN DEFAULT false,
    is_unique BOOLEAN DEFAULT false,
    house_rule_id INTEGER,
    essence_cost NUMERIC,
    body_index_cost NUMERIC,
    parent_modifier_id UUID,
    created_by UUID,
    modified_by UUID,
    modified_at TIMESTAMP,
    deleted_at TIMESTAMP,
    deleted_by UUID,
    PRIMARY KEY (id),
    FOREIGN KEY (character_id) REFERENCES characters(id) ON DELETE CASCADE,
    FOREIGN KEY (parent_modifier_id) REFERENCES character_modifiers(id) ON DELETE CASCADE,
    FOREIGN KEY (created_by) REFERENCES users(id) ON DELETE CASCADE,
    FOREIGN KEY (modified_by) REFERENCES users(id) ON DELETE CASCADE,
    FOREIGN KEY (deleted_by) REFERENCES users(id) ON DELETE CASCADE
);


-- character_powers
CREATE TABLE IF NOT EXISTS character_powers (
    id INTEGER NOT NULL DEFAULT nextval('character_powers_id_seq'::regclass),
    character_id INTEGER NOT NULL,
    power_name VARCHAR(100) NOT NULL,
    level INTEGER DEFAULT 1,
    cost NUMERIC,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY (id),
    UNIQUE (character_id),
    UNIQUE (character_id),
    UNIQUE (power_name),
    UNIQUE (power_name),
    FOREIGN KEY (character_id) REFERENCES sr_characters(id) ON DELETE CASCADE
);


-- character_relationships
CREATE TABLE IF NOT EXISTS character_relationships (
    id UUID NOT NULL DEFAULT gen_random_uuid(),
    character_id UUID,
    relationship_type TEXT NOT NULL,
    relationship_name TEXT NOT NULL,
    data JSONB NOT NULL,
    notes TEXT,
    created_at TIMESTAMP DEFAULT NOW(),
    PRIMARY KEY (id),
    FOREIGN KEY (character_id) REFERENCES characters(id) ON DELETE CASCADE
);


-- character_skills
CREATE TABLE IF NOT EXISTS character_skills (
    id UUID NOT NULL DEFAULT gen_random_uuid(),
    character_id UUID,
    skill_name TEXT NOT NULL,
    base_rating INTEGER NOT NULL,
    current_rating INTEGER NOT NULL,
    specialization TEXT,
    conditional_bonuses JSONB DEFAULT '{}'::jsonb,
    created_at TIMESTAMP DEFAULT NOW(),
    skill_type TEXT DEFAULT 'active'::text,
    PRIMARY KEY (id),
    UNIQUE (character_id),
    UNIQUE (character_id),
    UNIQUE (skill_name),
    UNIQUE (skill_name),
    FOREIGN KEY (character_id) REFERENCES characters(id) ON DELETE CASCADE
);


-- character_spells
CREATE TABLE IF NOT EXISTS character_spells (
    id UUID NOT NULL DEFAULT gen_random_uuid(),
    character_id UUID,
    spell_name TEXT NOT NULL,
    spell_category TEXT NOT NULL,
    spell_type TEXT NOT NULL,
    target_type TEXT,
    duration TEXT,
    drain_modifier INTEGER DEFAULT 0,
    description TEXT,
    notes TEXT,
    created_at TIMESTAMP DEFAULT NOW(),
    learned_force INTEGER,
    created_by UUID,
    modified_by UUID,
    modified_at TIMESTAMP,
    deleted_at TIMESTAMP,
    deleted_by UUID,
    drain_code VARCHAR(20),
    totem_modifier INTEGER DEFAULT 0,
    spell_notes TEXT,
    FOREIGN KEY (created_by) REFERENCES users(id) ON DELETE CASCADE,
    PRIMARY KEY (id),
    UNIQUE (character_id),
    UNIQUE (character_id),
    UNIQUE (spell_name),
    UNIQUE (spell_name),
    FOREIGN KEY (character_id) REFERENCES characters(id) ON DELETE CASCADE,
    FOREIGN KEY (modified_by) REFERENCES users(id) ON DELETE CASCADE,
    FOREIGN KEY (deleted_by) REFERENCES users(id) ON DELETE CASCADE
);


-- character_spirits
CREATE TABLE IF NOT EXISTS character_spirits (
    id UUID NOT NULL DEFAULT gen_random_uuid(),
    character_id UUID,
    spirit_name TEXT NOT NULL,
    spirit_type TEXT,
    force INTEGER NOT NULL,
    services INTEGER NOT NULL,
    special_abilities TEXT[],
    notes TEXT,
    created_at TIMESTAMP DEFAULT NOW(),
    PRIMARY KEY (id),
    FOREIGN KEY (character_id) REFERENCES characters(id) ON DELETE CASCADE
);


-- character_vehicles
CREATE TABLE IF NOT EXISTS character_vehicles (
    id UUID NOT NULL DEFAULT gen_random_uuid(),
    character_id UUID,
    vehicle_name TEXT NOT NULL,
    vehicle_type TEXT,
    handling TEXT,
    speed INTEGER,
    body INTEGER,
    armor INTEGER,
    signature INTEGER,
    pilot INTEGER,
    modifications JSONB DEFAULT '{}'::jsonb,
    notes TEXT,
    created_at TIMESTAMP DEFAULT NOW(),
    created_by UUID,
    modified_by UUID,
    modified_at TIMESTAMP,
    deleted_at TIMESTAMP,
    deleted_by UUID,
    PRIMARY KEY (id),
    FOREIGN KEY (character_id) REFERENCES characters(id) ON DELETE CASCADE,
    FOREIGN KEY (created_by) REFERENCES users(id) ON DELETE CASCADE,
    FOREIGN KEY (modified_by) REFERENCES users(id) ON DELETE CASCADE,
    FOREIGN KEY (deleted_by) REFERENCES users(id) ON DELETE CASCADE
);


-- characters
CREATE TABLE IF NOT EXISTS characters (
    id UUID NOT NULL DEFAULT gen_random_uuid(),
    name TEXT NOT NULL,
    street_name TEXT,
    character_type TEXT,
    archetype TEXT,
    base_body INTEGER NOT NULL,
    base_quickness INTEGER NOT NULL,
    base_strength INTEGER NOT NULL,
    base_charisma INTEGER NOT NULL,
    base_intelligence INTEGER NOT NULL,
    base_willpower INTEGER NOT NULL,
    base_essence NUMERIC NOT NULL DEFAULT 6.00,
    base_magic INTEGER DEFAULT 0,
    base_reaction INTEGER NOT NULL,
    current_body INTEGER NOT NULL,
    current_quickness INTEGER NOT NULL,
    current_strength INTEGER NOT NULL,
    current_charisma INTEGER NOT NULL,
    current_intelligence INTEGER NOT NULL,
    current_willpower INTEGER NOT NULL,
    current_essence NUMERIC NOT NULL,
    current_magic INTEGER DEFAULT 0,
    current_reaction INTEGER NOT NULL,
    conditional_modifiers JSONB DEFAULT '{}'::jsonb,
    nuyen INTEGER DEFAULT 0,
    karma_pool INTEGER DEFAULT 0,
    karma_total INTEGER DEFAULT 0,
    initiative TEXT,
    notes TEXT,
    created_at TIMESTAMP DEFAULT NOW(),
    updated_at TIMESTAMP DEFAULT NOW(),
    metatype TEXT,
    sex TEXT,
    age TEXT,
    height TEXT,
    weight TEXT,
    hair TEXT,
    eyes TEXT,
    skin TEXT,
    karma_available INTEGER DEFAULT 0,
    lifestyle TEXT,
    lifestyle_cost INTEGER,
    lifestyle_months_prepaid INTEGER,
    essence_hole NUMERIC,
    background TEXT,
    combat_pool INTEGER,
    body_index_current NUMERIC,
    body_index_max NUMERIC,
    power_points_total NUMERIC DEFAULT 0,
    power_points_used NUMERIC DEFAULT 0,
    power_points_available NUMERIC DEFAULT 0,
    totem VARCHAR(50),
    magic_pool INTEGER DEFAULT 0,
    spell_pool INTEGER DEFAULT 0,
    initiate_level INTEGER DEFAULT 0,
    metamagics TEXT[],
    magical_group TEXT,
    tradition TEXT,
    PRIMARY KEY (id)
);


-- chunking_metrics
CREATE TABLE IF NOT EXISTS chunking_metrics (
    id UUID NOT NULL DEFAULT gen_random_uuid(),
    source_file TEXT NOT NULL,
    chunk_id UUID,
    chunk_size INTEGER,
    ai_confidence_score DOUBLE PRECISION,
    category TEXT,
    subcategory TEXT,
    processing_time_ms INTEGER,
    ai_model_used TEXT,
    timestamp TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    PRIMARY KEY (id)
);


-- clarification_interactions
CREATE TABLE IF NOT EXISTS clarification_interactions (
    id INTEGER NOT NULL DEFAULT nextval('clarification_interactions_id_seq'::regclass),
    query_attempt_id INTEGER,
    timestamp TIMESTAMP DEFAULT NOW(),
    clarification_type VARCHAR(50),
    options_presented JSONB,
    user_selection INTEGER,
    user_text_response TEXT,
    resolved_intent VARCHAR(50),
    was_helpful BOOLEAN DEFAULT true,
    resolution_time_ms INTEGER,
    PRIMARY KEY (id),
    FOREIGN KEY (query_attempt_id) REFERENCES query_attempts(id) ON DELETE CASCADE
);


-- clarification_usage_logs
CREATE TABLE IF NOT EXISTS clarification_usage_logs (
    id UUID NOT NULL DEFAULT gen_random_uuid(),
    clarification_id UUID,
    rule_id UUID,
    query_context TEXT,
    timestamp TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    PRIMARY KEY (id),
    FOREIGN KEY (clarification_id) REFERENCES rule_clarifications(id) ON DELETE CASCADE,
    FOREIGN KEY (rule_id) REFERENCES rules_content(id) ON DELETE CASCADE
);


-- contacts
CREATE TABLE IF NOT EXISTS contacts (
    id INTEGER NOT NULL DEFAULT nextval('contacts_id_seq'::regclass),
    name VARCHAR(200) NOT NULL,
    archetype VARCHAR(100),
    connection INTEGER,
    loyalty INTEGER,
    description TEXT,
    services TEXT,
    location VARCHAR(200),
    notes TEXT,
    created_at TIMESTAMP DEFAULT NOW(),
    updated_at TIMESTAMP DEFAULT NOW(),
    PRIMARY KEY (id)
);


-- creatures
CREATE TABLE IF NOT EXISTS creatures (
    id INTEGER NOT NULL DEFAULT nextval('creatures_id_seq'::regclass),
    name VARCHAR(200) NOT NULL,
    creature_type VARCHAR(50) NOT NULL,
    subtype VARCHAR(100),
    body INTEGER,
    quickness INTEGER,
    strength INTEGER,
    charisma INTEGER,
    intelligence INTEGER,
    willpower INTEGER,
    essence INTEGER,
    magic INTEGER,
    reaction INTEGER,
    initiative VARCHAR(50),
    combat_pool INTEGER,
    abilities JSONB DEFAULT '{}'::jsonb,
    stats JSONB DEFAULT '{}'::jsonb,
    combat_data JSONB DEFAULT '{}'::jsonb,
    description TEXT,
    game_notes TEXT,
    source VARCHAR(100),
    page_reference VARCHAR(50),
    data_quality INTEGER DEFAULT 5,
    loaded_from TEXT[],
    created_at TIMESTAMP DEFAULT NOW(),
    updated_at TIMESTAMP DEFAULT NOW(),
    PRIMARY KEY (id),
    UNIQUE (name),
    UNIQUE (name),
    UNIQUE (creature_type),
    UNIQUE (creature_type)
);


-- credentials_entity
CREATE TABLE IF NOT EXISTS credentials_entity (
    name VARCHAR(128) NOT NULL,
    data TEXT NOT NULL,
    type VARCHAR(128) NOT NULL,
    createdAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    updatedAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    id VARCHAR(36) NOT NULL,
    isManaged BOOLEAN NOT NULL DEFAULT false,
    PRIMARY KEY (id)
);


-- data_quality_logs
CREATE TABLE IF NOT EXISTS data_quality_logs (
    id UUID NOT NULL DEFAULT gen_random_uuid(),
    check_type TEXT NOT NULL,
    affected_records INTEGER,
    details JSONB,
    auto_fixed BOOLEAN DEFAULT false,
    timestamp TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    PRIMARY KEY (id)
);


-- data_store
CREATE TABLE IF NOT EXISTS data_store (
    id VARCHAR(36) NOT NULL,
    name VARCHAR(128) NOT NULL,
    projectId VARCHAR(36) NOT NULL,
    sizeBytes INTEGER NOT NULL DEFAULT 0,
    createdAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    updatedAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    PRIMARY KEY (id),
    UNIQUE (projectId),
    UNIQUE (projectId),
    UNIQUE (name),
    UNIQUE (name),
    FOREIGN KEY (projectId) REFERENCES project(id) ON DELETE CASCADE
);


-- data_store_column
CREATE TABLE IF NOT EXISTS data_store_column (
    id VARCHAR(36) NOT NULL,
    name VARCHAR(128) NOT NULL,
    type VARCHAR(32) NOT NULL,
    index INTEGER NOT NULL,
    dataStoreId VARCHAR(36) NOT NULL,
    createdAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    updatedAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    PRIMARY KEY (id),
    UNIQUE (dataStoreId),
    UNIQUE (dataStoreId),
    UNIQUE (name),
    UNIQUE (name),
    FOREIGN KEY (dataStoreId) REFERENCES data_store(id) ON DELETE CASCADE
);


-- document_metadata
CREATE TABLE IF NOT EXISTS document_metadata (
    id TEXT NOT NULL,
    title TEXT,
    url TEXT,
    created_at TIMESTAMP DEFAULT NOW(),
    schema TEXT,
    PRIMARY KEY (id)
);


-- document_rows
CREATE TABLE IF NOT EXISTS document_rows (
    id INTEGER NOT NULL DEFAULT nextval('document_rows_id_seq'::regclass),
    dataset_id TEXT,
    row_data JSONB,
    PRIMARY KEY (id),
    FOREIGN KEY (dataset_id) REFERENCES document_metadata(id) ON DELETE CASCADE
);


-- documents
CREATE TABLE IF NOT EXISTS documents (
    id UUID NOT NULL DEFAULT gen_random_uuid(),
    content TEXT NOT NULL,
    embedding USER-DEFINED NOT NULL,
    metadata JSONB,
    PRIMARY KEY (id)
);


-- documents_pg
CREATE TABLE IF NOT EXISTS documents_pg (
    id UUID NOT NULL DEFAULT gen_random_uuid(),
    text TEXT,
    metadata JSONB,
    embedding USER-DEFINED,
    PRIMARY KEY (id)
);


-- embedding_logs
CREATE TABLE IF NOT EXISTS embedding_logs (
    id UUID NOT NULL DEFAULT gen_random_uuid(),
    operation_type TEXT NOT NULL,
    content_length INTEGER,
    embedding_model TEXT,
    generation_time_ms INTEGER,
    api_cost NUMERIC,
    error_message TEXT,
    timestamp TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    PRIMARY KEY (id)
);


-- error_logs
CREATE TABLE IF NOT EXISTS error_logs (
    id UUID NOT NULL DEFAULT gen_random_uuid(),
    error_type TEXT NOT NULL,
    error_message TEXT NOT NULL,
    stack_trace TEXT,
    context JSONB,
    severity TEXT NOT NULL,
    timestamp TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    PRIMARY KEY (id)
);


-- event_destinations
CREATE TABLE IF NOT EXISTS event_destinations (
    id UUID NOT NULL,
    destination JSONB NOT NULL,
    createdAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    updatedAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    PRIMARY KEY (id)
);


-- execution_annotation_tags
CREATE TABLE IF NOT EXISTS execution_annotation_tags (
    annotationId INTEGER NOT NULL,
    tagId VARCHAR(24) NOT NULL,
    PRIMARY KEY (annotationId),
    PRIMARY KEY (annotationId),
    PRIMARY KEY (tagId),
    PRIMARY KEY (tagId),
    FOREIGN KEY (annotationId) REFERENCES execution_annotations(id) ON DELETE CASCADE,
    FOREIGN KEY (tagId) REFERENCES annotation_tag_entity(id) ON DELETE CASCADE
);


-- execution_annotations
CREATE TABLE IF NOT EXISTS execution_annotations (
    id INTEGER NOT NULL DEFAULT nextval('execution_annotations_id_seq'::regclass),
    executionId INTEGER NOT NULL,
    vote VARCHAR(6),
    note TEXT,
    createdAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    updatedAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    PRIMARY KEY (id),
    FOREIGN KEY (executionId) REFERENCES execution_entity(id) ON DELETE CASCADE
);


-- execution_data
CREATE TABLE IF NOT EXISTS execution_data (
    executionId INTEGER NOT NULL,
    workflowData JSON NOT NULL,
    data TEXT NOT NULL,
    FOREIGN KEY (executionId) REFERENCES execution_entity(id) ON DELETE CASCADE,
    PRIMARY KEY (executionId)
);


-- execution_entity
CREATE TABLE IF NOT EXISTS execution_entity (
    id INTEGER NOT NULL DEFAULT nextval('execution_entity_id_seq'::regclass),
    finished BOOLEAN NOT NULL,
    mode VARCHAR(None) NOT NULL,
    retryOf VARCHAR(None),
    retrySuccessId VARCHAR(None),
    startedAt TIMESTAMP WITH TIME ZONE,
    stoppedAt TIMESTAMP WITH TIME ZONE,
    waitTill TIMESTAMP WITH TIME ZONE,
    status VARCHAR(None) NOT NULL,
    workflowId VARCHAR(36) NOT NULL,
    deletedAt TIMESTAMP WITH TIME ZONE,
    createdAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    PRIMARY KEY (id),
    FOREIGN KEY (workflowId) REFERENCES workflow_entity(id) ON DELETE CASCADE
);


-- execution_metadata
CREATE TABLE IF NOT EXISTS execution_metadata (
    id INTEGER NOT NULL DEFAULT nextval('execution_metadata_temp_id_seq'::regclass),
    executionId INTEGER NOT NULL,
    key VARCHAR(255) NOT NULL,
    value TEXT NOT NULL,
    PRIMARY KEY (id),
    FOREIGN KEY (executionId) REFERENCES execution_entity(id) ON DELETE CASCADE
);


-- folder
CREATE TABLE IF NOT EXISTS folder (
    id VARCHAR(36) NOT NULL,
    name VARCHAR(128) NOT NULL,
    parentFolderId VARCHAR(36),
    projectId VARCHAR(36) NOT NULL,
    createdAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    updatedAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    PRIMARY KEY (id),
    FOREIGN KEY (projectId) REFERENCES project(id) ON DELETE CASCADE,
    FOREIGN KEY (parentFolderId) REFERENCES folder(id) ON DELETE CASCADE
);


-- folder_tag
CREATE TABLE IF NOT EXISTS folder_tag (
    folderId VARCHAR(36) NOT NULL,
    tagId VARCHAR(36) NOT NULL,
    PRIMARY KEY (folderId),
    PRIMARY KEY (folderId),
    PRIMARY KEY (tagId),
    PRIMARY KEY (tagId),
    FOREIGN KEY (folderId) REFERENCES folder(id) ON DELETE CASCADE,
    FOREIGN KEY (tagId) REFERENCES tag_entity(id) ON DELETE CASCADE
);


-- gear
CREATE TABLE IF NOT EXISTS gear (
    id INTEGER NOT NULL DEFAULT nextval('gear_id_seq'::regclass),
    name TEXT NOT NULL,
    category TEXT NOT NULL,
    subcategory TEXT,
    base_stats JSONB NOT NULL DEFAULT '{}'::jsonb,
    modifiers JSONB DEFAULT '{}'::jsonb,
    requirements JSONB DEFAULT '{}'::jsonb,
    tags TEXT[] DEFAULT '{}'::text[],
    description TEXT,
    game_notes TEXT,
    source TEXT,
    availability TEXT,
    cost INTEGER,
    street_index NUMERIC,
    legality TEXT,
    data_source TEXT NOT NULL DEFAULT 'manual'::text,
    source_file TEXT,
    loaded_from TEXT[] DEFAULT '{}'::text[],
    data_quality INTEGER DEFAULT 5,
    is_custom BOOLEAN DEFAULT false,
    created_by TEXT DEFAULT 'system'::text,
    created_at TIMESTAMP DEFAULT NOW(),
    updated_at TIMESTAMP DEFAULT NOW(),
    search_vector TSVECTOR,
    PRIMARY KEY (id)
);


-- gear_chunk_links
CREATE TABLE IF NOT EXISTS gear_chunk_links (
    id INTEGER NOT NULL DEFAULT nextval('gear_chunk_links_id_seq'::regclass),
    gear_id INTEGER NOT NULL,
    chunk_id UUID NOT NULL,
    link_type TEXT DEFAULT 'description'::text,
    confidence NUMERIC DEFAULT 1.0,
    notes TEXT,
    created_at TIMESTAMP DEFAULT NOW(),
    PRIMARY KEY (id),
    UNIQUE (gear_id),
    UNIQUE (chunk_id),
    UNIQUE (link_type),
    FOREIGN KEY (chunk_id) REFERENCES rules_content(id) ON DELETE CASCADE
);


-- gear_items
CREATE TABLE IF NOT EXISTS gear_items (
    id UUID NOT NULL DEFAULT uuid_generate_v4(),
    name TEXT NOT NULL,
    gear_type TEXT NOT NULL,
    subtype TEXT,
    cost INTEGER,
    availability_index NUMERIC,
    book_reference TEXT,
    essence_cost NUMERIC,
    body_index NUMERIC,
    stats JSONB,
    description TEXT,
    related_rules TEXT[],
    embedding USER-DEFINED,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    PRIMARY KEY (id)
);


-- gear_load_history
CREATE TABLE IF NOT EXISTS gear_load_history (
    id INTEGER NOT NULL DEFAULT nextval('gear_load_history_id_seq'::regclass),
    gear_id INTEGER,
    action TEXT NOT NULL,
    source_file TEXT NOT NULL,
    item_name TEXT NOT NULL,
    item_category TEXT NOT NULL,
    old_data JSONB,
    new_data JSONB,
    reason TEXT,
    timestamp TIMESTAMP DEFAULT NOW(),
    PRIMARY KEY (id)
);


-- house_rules
CREATE TABLE IF NOT EXISTS house_rules (
    id INTEGER NOT NULL DEFAULT nextval('house_rules_id_seq'::regclass),
    campaign_id INTEGER,
    rule_name VARCHAR(200) NOT NULL,
    rule_type VARCHAR(50) NOT NULL,
    rule_config JSONB DEFAULT '{}'::jsonb,
    is_active BOOLEAN DEFAULT true,
    priority INTEGER DEFAULT 0,
    description TEXT,
    examples TEXT,
    notes TEXT,
    created_by VARCHAR(200),
    created_at TIMESTAMP DEFAULT NOW(),
    updated_at TIMESTAMP DEFAULT NOW(),
    PRIMARY KEY (id),
    UNIQUE (campaign_id),
    UNIQUE (campaign_id),
    UNIQUE (rule_name),
    UNIQUE (rule_name)
);


-- insights_by_period
CREATE TABLE IF NOT EXISTS insights_by_period (
    id INTEGER NOT NULL,
    metaId INTEGER NOT NULL,
    type INTEGER NOT NULL,
    value INTEGER NOT NULL,
    periodUnit INTEGER NOT NULL,
    periodStart TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY (id),
    FOREIGN KEY (metaId) REFERENCES insights_metadata(metaId) ON DELETE CASCADE
);


-- insights_metadata
CREATE TABLE IF NOT EXISTS insights_metadata (
    metaId INTEGER NOT NULL,
    workflowId VARCHAR(16),
    projectId VARCHAR(36),
    workflowName VARCHAR(128) NOT NULL,
    projectName VARCHAR(255) NOT NULL,
    PRIMARY KEY (metaId),
    FOREIGN KEY (workflowId) REFERENCES workflow_entity(id) ON DELETE CASCADE,
    FOREIGN KEY (projectId) REFERENCES project(id) ON DELETE CASCADE
);


-- insights_raw
CREATE TABLE IF NOT EXISTS insights_raw (
    id INTEGER NOT NULL,
    metaId INTEGER NOT NULL,
    type INTEGER NOT NULL,
    value INTEGER NOT NULL,
    timestamp TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY (id),
    FOREIGN KEY (metaId) REFERENCES insights_metadata(metaId) ON DELETE CASCADE
);


-- installed_nodes
CREATE TABLE IF NOT EXISTS installed_nodes (
    name VARCHAR(200) NOT NULL,
    type VARCHAR(200) NOT NULL,
    latestVersion INTEGER NOT NULL DEFAULT 1,
    package VARCHAR(241) NOT NULL,
    PRIMARY KEY (name),
    FOREIGN KEY (package) REFERENCES installed_packages(packageName) ON DELETE CASCADE
);


-- installed_packages
CREATE TABLE IF NOT EXISTS installed_packages (
    packageName VARCHAR(214) NOT NULL,
    installedVersion VARCHAR(50) NOT NULL,
    authorName VARCHAR(70),
    authorEmail VARCHAR(70),
    createdAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    updatedAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    PRIMARY KEY (packageName)
);


-- invalid_auth_token
CREATE TABLE IF NOT EXISTS invalid_auth_token (
    token VARCHAR(512) NOT NULL,
    expiresAt TIMESTAMP WITH TIME ZONE NOT NULL,
    PRIMARY KEY (token)
);


-- learned_patterns
CREATE TABLE IF NOT EXISTS learned_patterns (
    id INTEGER NOT NULL DEFAULT nextval('learned_patterns_id_seq'::regclass),
    created_at TIMESTAMP DEFAULT NOW(),
    updated_at TIMESTAMP DEFAULT NOW(),
    pattern_text TEXT NOT NULL,
    pattern_type VARCHAR(20),
    intent VARCHAR(50) NOT NULL,
    confidence NUMERIC DEFAULT 0.75,
    learned_from_query_ids TEXT[],
    occurrence_count INTEGER DEFAULT 1,
    success_count INTEGER DEFAULT 0,
    failure_count INTEGER DEFAULT 0,
    success_rate NUMERIC,
    is_active BOOLEAN DEFAULT true,
    is_verified BOOLEAN DEFAULT false,
    verified_by VARCHAR(100),
    verified_at TIMESTAMP,
    example_queries TEXT[],
    PRIMARY KEY (id),
    UNIQUE (pattern_text),
    UNIQUE (pattern_text),
    UNIQUE (pattern_text),
    UNIQUE (intent),
    UNIQUE (intent),
    UNIQUE (intent),
    UNIQUE (pattern_type),
    UNIQUE (pattern_type),
    UNIQUE (pattern_type)
);


-- match_documents_log
CREATE TABLE IF NOT EXISTS match_documents_log (
    log_time TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    filter JSONB,
    match_count INTEGER,
    query_embedding USER-DEFINED
);


-- metatypes
CREATE TABLE IF NOT EXISTS metatypes (
    id INTEGER NOT NULL DEFAULT nextval('metatypes_id_seq'::regclass),
    name VARCHAR(100) NOT NULL,
    variant_of VARCHAR(100),
    is_variant BOOLEAN DEFAULT false,
    body_mod INTEGER DEFAULT 0,
    quickness_mod INTEGER DEFAULT 0,
    strength_mod INTEGER DEFAULT 0,
    charisma_mod INTEGER DEFAULT 0,
    intelligence_mod INTEGER DEFAULT 0,
    willpower_mod INTEGER DEFAULT 0,
    body_range INT4RANGE,
    quickness_range INT4RANGE,
    strength_range INT4RANGE,
    charisma_range INT4RANGE,
    intelligence_range INT4RANGE,
    willpower_range INT4RANGE,
    special_abilities TEXT[],
    racial_traits JSONB DEFAULT '{}'::jsonb,
    description TEXT,
    source VARCHAR(100),
    page_reference VARCHAR(50),
    data_quality INTEGER DEFAULT 5,
    loaded_from TEXT[],
    created_at TIMESTAMP DEFAULT NOW(),
    updated_at TIMESTAMP DEFAULT NOW(),
    PRIMARY KEY (id),
    UNIQUE (name)
);


-- migrations
CREATE TABLE IF NOT EXISTS migrations (
    id INTEGER NOT NULL,
    id INTEGER NOT NULL DEFAULT nextval('migrations_id_seq'::regclass),
    version TEXT NOT NULL,
    inserted_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT NOW(),
    timestamp BIGINT NOT NULL,
    name VARCHAR(100) NOT NULL,
    hash VARCHAR(40) NOT NULL,
    name VARCHAR(None) NOT NULL,
    executed_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY (id),
    PRIMARY KEY (id),
    PRIMARY KEY (id),
    PRIMARY KEY (id),
    UNIQUE (name),
    PRIMARY KEY (version),
    PRIMARY KEY (version),
    PRIMARY KEY (version),
    PRIMARY KEY (version),
    PRIMARY KEY (id)
);


-- n8n_chat_histories
CREATE TABLE IF NOT EXISTS n8n_chat_histories (
    id INTEGER NOT NULL DEFAULT nextval('n8n_chat_histories_id_seq'::regclass),
    session_id VARCHAR(255) NOT NULL,
    message JSONB NOT NULL,
    PRIMARY KEY (id)
);


-- pattern_performance
CREATE TABLE IF NOT EXISTS pattern_performance (
    id INTEGER NOT NULL DEFAULT nextval('pattern_performance_id_seq'::regclass),
    pattern_id INTEGER,
    date DATE DEFAULT CURRENT_DATE,
    times_matched INTEGER DEFAULT 0,
    times_correct INTEGER DEFAULT 0,
    times_incorrect INTEGER DEFAULT 0,
    avg_confidence NUMERIC,
    positive_feedback INTEGER DEFAULT 0,
    negative_feedback INTEGER DEFAULT 0,
    PRIMARY KEY (id),
    UNIQUE (pattern_id),
    UNIQUE (pattern_id),
    UNIQUE (date),
    UNIQUE (date),
    FOREIGN KEY (pattern_id) REFERENCES learned_patterns(id) ON DELETE CASCADE
);


-- performance_metrics
CREATE TABLE IF NOT EXISTS performance_metrics (
    id UUID NOT NULL DEFAULT gen_random_uuid(),
    operation TEXT NOT NULL,
    duration_ms INTEGER,
    database_time_ms INTEGER,
    api_time_ms INTEGER,
    memory_usage_mb INTEGER,
    timestamp TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    PRIMARY KEY (id)
);


-- powers
CREATE TABLE IF NOT EXISTS powers (
    id INTEGER NOT NULL DEFAULT nextval('powers_id_seq'::regclass),
    name VARCHAR(200) NOT NULL,
    power_type VARCHAR(50) NOT NULL,
    power_point_cost NUMERIC,
    activation_type VARCHAR(50),
    activation_requirements TEXT,
    game_effects JSONB DEFAULT '{}'::jsonb,
    levels JSONB DEFAULT '[]'::jsonb,
    description TEXT,
    game_notes TEXT,
    source VARCHAR(100),
    page_reference VARCHAR(50),
    data_quality INTEGER DEFAULT 5,
    loaded_from TEXT[],
    created_at TIMESTAMP DEFAULT NOW(),
    updated_at TIMESTAMP DEFAULT NOW(),
    PRIMARY KEY (id),
    UNIQUE (name),
    UNIQUE (name),
    UNIQUE (power_type),
    UNIQUE (power_type)
);


-- processed_data
CREATE TABLE IF NOT EXISTS processed_data (
    workflowId VARCHAR(36) NOT NULL,
    context VARCHAR(255) NOT NULL,
    createdAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    updatedAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    value TEXT NOT NULL,
    PRIMARY KEY (workflowId),
    PRIMARY KEY (workflowId),
    PRIMARY KEY (context),
    PRIMARY KEY (context),
    FOREIGN KEY (workflowId) REFERENCES workflow_entity(id) ON DELETE CASCADE
);


-- project
CREATE TABLE IF NOT EXISTS project (
    id VARCHAR(36) NOT NULL,
    name VARCHAR(255) NOT NULL,
    type VARCHAR(36) NOT NULL,
    createdAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    updatedAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    icon JSON,
    description VARCHAR(512),
    PRIMARY KEY (id)
);


-- project_relation
CREATE TABLE IF NOT EXISTS project_relation (
    projectId VARCHAR(36) NOT NULL,
    userId UUID NOT NULL,
    role VARCHAR(None) NOT NULL,
    createdAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    updatedAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    PRIMARY KEY (projectId),
    PRIMARY KEY (projectId),
    PRIMARY KEY (userId),
    PRIMARY KEY (userId),
    FOREIGN KEY (projectId) REFERENCES project(id) ON DELETE CASCADE,
    FOREIGN KEY (userId) REFERENCES user(id) ON DELETE CASCADE
);


-- qualities
CREATE TABLE IF NOT EXISTS qualities (
    id INTEGER NOT NULL DEFAULT nextval('qualities_id_seq'::regclass),
    name VARCHAR(200) NOT NULL,
    quality_type VARCHAR(20) NOT NULL,
    cost INTEGER NOT NULL,
    requirements JSONB DEFAULT '{}'::jsonb,
    incompatible_with TEXT[],
    game_effects JSONB DEFAULT '{}'::jsonb,
    description TEXT,
    game_notes TEXT,
    source VARCHAR(100),
    page_reference VARCHAR(50),
    data_quality INTEGER DEFAULT 5,
    loaded_from TEXT[],
    created_at TIMESTAMP DEFAULT NOW(),
    updated_at TIMESTAMP DEFAULT NOW(),
    PRIMARY KEY (id),
    UNIQUE (name),
    UNIQUE (name),
    UNIQUE (quality_type),
    UNIQUE (quality_type)
);


-- query_attempts
CREATE TABLE IF NOT EXISTS query_attempts (
    id INTEGER NOT NULL DEFAULT nextval('query_attempts_id_seq'::regclass),
    session_id UUID,
    query_text TEXT NOT NULL,
    normalized_query TEXT,
    timestamp TIMESTAMP DEFAULT NOW(),
    intent_detected VARCHAR(50),
    confidence NUMERIC,
    classification_method VARCHAR(20),
    alternatives JSONB,
    needed_clarification BOOLEAN DEFAULT false,
    clarification_shown JSONB,
    user_response TEXT,
    final_intent VARCHAR(50),
    previous_query_id INTEGER,
    conversation_turn INTEGER DEFAULT 1,
    user_agent TEXT,
    execution_time_ms INTEGER,
    PRIMARY KEY (id),
    FOREIGN KEY (previous_query_id) REFERENCES query_attempts(id) ON DELETE CASCADE
);


-- query_logs
CREATE TABLE IF NOT EXISTS query_logs (
    id INTEGER NOT NULL DEFAULT nextval('query_logs_id_seq'::regclass),
    timestamp TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    query_text TEXT NOT NULL,
    query_limit INTEGER,
    ranking_criteria TEXT,
    classification JSONB,
    intent TEXT,
    data_sources TEXT[],
    tables_queried TEXT[],
    execution_time_ms INTEGER,
    result_count INTEGER,
    error_message TEXT,
    user_feedback TEXT,
    feedback_notes TEXT,
    session_id TEXT,
    user_agent TEXT,
    is_training_data BOOLEAN DEFAULT false,
    expected_intent VARCHAR(50),
    gm_response TEXT,
    dice_rolls JSONB,
    confidence NUMERIC,
    classification_method VARCHAR(20),
    training_source VARCHAR(100),
    is_correct BOOLEAN,
    PRIMARY KEY (id)
);


-- reference_load_history
CREATE TABLE IF NOT EXISTS reference_load_history (
    id INTEGER NOT NULL DEFAULT nextval('reference_load_history_id_seq'::regclass),
    table_name VARCHAR(50) NOT NULL,
    record_id INTEGER NOT NULL,
    action VARCHAR(20) NOT NULL,
    source_file VARCHAR(255),
    item_name VARCHAR(255),
    old_data JSONB,
    new_data JSONB,
    reason TEXT,
    loaded_at TIMESTAMP DEFAULT NOW(),
    PRIMARY KEY (id)
);


-- role
CREATE TABLE IF NOT EXISTS role (
    slug VARCHAR(128) NOT NULL,
    displayName TEXT,
    description TEXT,
    roleType TEXT,
    systemRole BOOLEAN NOT NULL DEFAULT false,
    PRIMARY KEY (slug)
);


-- role_scope
CREATE TABLE IF NOT EXISTS role_scope (
    roleSlug VARCHAR(128) NOT NULL,
    scopeSlug VARCHAR(128) NOT NULL,
    PRIMARY KEY (roleSlug),
    PRIMARY KEY (roleSlug),
    PRIMARY KEY (scopeSlug),
    PRIMARY KEY (scopeSlug),
    FOREIGN KEY (roleSlug) REFERENCES role(slug) ON DELETE CASCADE,
    FOREIGN KEY (scopeSlug) REFERENCES scope(slug) ON DELETE CASCADE
);


-- rule_application_log
CREATE TABLE IF NOT EXISTS rule_application_log (
    id INTEGER NOT NULL DEFAULT nextval('rule_application_log_id_seq'::regclass),
    house_rule_id INTEGER,
    character_id INTEGER,
    applied_to VARCHAR(50),
    original_cost INTEGER,
    modified_cost INTEGER,
    rule_config_snapshot JSONB,
    application_context JSONB,
    applied_at TIMESTAMP DEFAULT NOW(),
    applied_by VARCHAR(200),
    PRIMARY KEY (id),
    FOREIGN KEY (house_rule_id) REFERENCES house_rules(id) ON DELETE CASCADE,
    FOREIGN KEY (character_id) REFERENCES sr_characters(id) ON DELETE CASCADE
);


-- rule_clarifications
CREATE TABLE IF NOT EXISTS rule_clarifications (
    id UUID NOT NULL DEFAULT gen_random_uuid(),
    rule_id UUID,
    clarification_type TEXT NOT NULL,
    title TEXT NOT NULL,
    content TEXT NOT NULL,
    source TEXT NOT NULL,
    source_reference TEXT,
    priority INTEGER DEFAULT 0,
    is_active BOOLEAN DEFAULT true,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    PRIMARY KEY (id),
    FOREIGN KEY (rule_id) REFERENCES rules_content(id) ON DELETE CASCADE
);


-- rules_content
CREATE TABLE IF NOT EXISTS rules_content (
    id UUID NOT NULL DEFAULT gen_random_uuid(),
    title TEXT NOT NULL,
    content TEXT NOT NULL,
    category TEXT NOT NULL,
    subcategory TEXT,
    source_file TEXT,
    source_book TEXT,
    tags TEXT[],
    embedding USER-DEFINED,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    content_type TEXT,
    PRIMARY KEY (id)
);


-- scope
CREATE TABLE IF NOT EXISTS scope (
    slug VARCHAR(128) NOT NULL,
    displayName TEXT,
    description TEXT,
    PRIMARY KEY (slug)
);


-- session_logs
CREATE TABLE IF NOT EXISTS session_logs (
    id INTEGER NOT NULL DEFAULT nextval('session_logs_id_seq'::regclass),
    campaign_id INTEGER,
    session_date DATE,
    summary TEXT,
    karma_awarded INTEGER,
    participants JSONB DEFAULT '[]'::jsonb,
    events JSONB DEFAULT '[]'::jsonb,
    metadata JSONB DEFAULT '{}'::jsonb,
    created_at TIMESTAMP DEFAULT NOW(),
    updated_at TIMESTAMP DEFAULT NOW(),
    PRIMARY KEY (id)
);


-- settings
CREATE TABLE IF NOT EXISTS settings (
    key VARCHAR(255) NOT NULL,
    value TEXT NOT NULL,
    loadOnStartup BOOLEAN NOT NULL DEFAULT false,
    PRIMARY KEY (key)
);


-- shared_credentials
CREATE TABLE IF NOT EXISTS shared_credentials (
    credentialsId VARCHAR(36) NOT NULL,
    projectId VARCHAR(36) NOT NULL,
    role TEXT NOT NULL,
    createdAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    updatedAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    PRIMARY KEY (credentialsId),
    PRIMARY KEY (credentialsId),
    PRIMARY KEY (projectId),
    PRIMARY KEY (projectId),
    FOREIGN KEY (credentialsId) REFERENCES credentials_entity(id) ON DELETE CASCADE,
    FOREIGN KEY (projectId) REFERENCES project(id) ON DELETE CASCADE
);


-- shared_workflow
CREATE TABLE IF NOT EXISTS shared_workflow (
    workflowId VARCHAR(36) NOT NULL,
    projectId VARCHAR(36) NOT NULL,
    role TEXT NOT NULL,
    createdAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    updatedAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    PRIMARY KEY (workflowId),
    PRIMARY KEY (workflowId),
    PRIMARY KEY (projectId),
    PRIMARY KEY (projectId),
    FOREIGN KEY (workflowId) REFERENCES workflow_entity(id) ON DELETE CASCADE,
    FOREIGN KEY (projectId) REFERENCES project(id) ON DELETE CASCADE
);


-- skills
CREATE TABLE IF NOT EXISTS skills (
    id INTEGER NOT NULL DEFAULT nextval('skills_id_seq'::regclass),
    name VARCHAR(200) NOT NULL,
    category VARCHAR(50) NOT NULL,
    subcategory VARCHAR(100),
    linked_attribute VARCHAR(20),
    can_default BOOLEAN DEFAULT true,
    default_modifier INTEGER DEFAULT '-1'::integer,
    specializations TEXT[],
    description TEXT,
    game_notes TEXT,
    source VARCHAR(100),
    page_reference VARCHAR(50),
    data_quality INTEGER DEFAULT 5,
    loaded_from TEXT[],
    created_at TIMESTAMP DEFAULT NOW(),
    updated_at TIMESTAMP DEFAULT NOW(),
    PRIMARY KEY (id),
    UNIQUE (name)
);


-- spells
CREATE TABLE IF NOT EXISTS spells (
    id INTEGER NOT NULL DEFAULT nextval('spells_id_seq'::regclass),
    name VARCHAR(200) NOT NULL,
    category VARCHAR(50) NOT NULL,
    spell_type VARCHAR(20) NOT NULL,
    target_type VARCHAR(50),
    drain_code VARCHAR(50),
    drain_level VARCHAR(10),
    duration VARCHAR(50),
    range VARCHAR(50),
    description TEXT,
    game_notes TEXT,
    source VARCHAR(100),
    page_reference VARCHAR(50),
    data_quality INTEGER DEFAULT 5,
    loaded_from TEXT[],
    created_at TIMESTAMP DEFAULT NOW(),
    updated_at TIMESTAMP DEFAULT NOW(),
    PRIMARY KEY (id),
    UNIQUE (name)
);


-- sr_characters
CREATE TABLE IF NOT EXISTS sr_characters (
    id INTEGER NOT NULL DEFAULT nextval('sr_characters_id_seq'::regclass),
    name VARCHAR(200) NOT NULL,
    player_name VARCHAR(200),
    is_npc BOOLEAN DEFAULT false,
    metatype_id INTEGER,
    attributes JSONB DEFAULT '{"body": 1, "magic": 0, "essence": 6.0, "charisma": 1, "reaction": 1, "strength": 1, "quickness": 1, "willpower": 1, "intelligence": 1}'::jsonb,
    essence NUMERIC DEFAULT 6.00,
    karma_pool INTEGER DEFAULT 0,
    good_karma INTEGER DEFAULT 0,
    skills_data JSONB DEFAULT '[]'::jsonb,
    qualities_taken JSONB DEFAULT '[]'::jsonb,
    gear_owned JSONB DEFAULT '[]'::jsonb,
    cyberware_installed JSONB DEFAULT '[]'::jsonb,
    spells_known JSONB DEFAULT '[]'::jsonb,
    powers_active JSONB DEFAULT '[]'::jsonb,
    contacts_list JSONB DEFAULT '[]'::jsonb,
    biography JSONB DEFAULT '{"notes": "", "appearance": "", "background": "", "personality": ""}'::jsonb,
    created_at TIMESTAMP DEFAULT NOW(),
    updated_at TIMESTAMP DEFAULT NOW(),
    last_played TIMESTAMP,
    campaign_id INTEGER,
    status VARCHAR(50) DEFAULT 'active'::character varying,
    archetype VARCHAR(100),
    nuyen INTEGER DEFAULT 0,
    physical_damage INTEGER DEFAULT 0,
    stun_damage INTEGER DEFAULT 0,
    metatype VARCHAR(50),
    PRIMARY KEY (id),
    FOREIGN KEY (metatype_id) REFERENCES metatypes(id) ON DELETE CASCADE
);


-- tag_entity
CREATE TABLE IF NOT EXISTS tag_entity (
    name VARCHAR(24) NOT NULL,
    createdAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    updatedAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    id VARCHAR(36) NOT NULL,
    PRIMARY KEY (id)
);


-- test_case_execution
CREATE TABLE IF NOT EXISTS test_case_execution (
    id VARCHAR(36) NOT NULL,
    testRunId VARCHAR(36) NOT NULL,
    executionId INTEGER,
    status VARCHAR(None) NOT NULL,
    runAt TIMESTAMP WITH TIME ZONE,
    completedAt TIMESTAMP WITH TIME ZONE,
    errorCode VARCHAR(None),
    errorDetails JSON,
    metrics JSON,
    createdAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    updatedAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    inputs JSON,
    outputs JSON,
    PRIMARY KEY (id),
    FOREIGN KEY (testRunId) REFERENCES test_run(id) ON DELETE CASCADE,
    FOREIGN KEY (executionId) REFERENCES execution_entity(id) ON DELETE CASCADE
);


-- test_run
CREATE TABLE IF NOT EXISTS test_run (
    id VARCHAR(36) NOT NULL,
    workflowId VARCHAR(36) NOT NULL,
    status VARCHAR(None) NOT NULL,
    errorCode VARCHAR(None),
    errorDetails JSON,
    runAt TIMESTAMP WITH TIME ZONE,
    completedAt TIMESTAMP WITH TIME ZONE,
    metrics JSON,
    createdAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    updatedAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    PRIMARY KEY (id),
    FOREIGN KEY (workflowId) REFERENCES workflow_entity(id) ON DELETE CASCADE
);


-- totems
CREATE TABLE IF NOT EXISTS totems (
    totem_name VARCHAR(50) NOT NULL,
    favored_categories TEXT[] NOT NULL,
    opposed_categories TEXT[],
    bonus_dice INTEGER DEFAULT 2,
    penalty_dice INTEGER DEFAULT '-2'::integer,
    spirit_type VARCHAR(50),
    description TEXT,
    PRIMARY KEY (totem_name)
);


-- training_corpus
CREATE TABLE IF NOT EXISTS training_corpus (
    id INTEGER NOT NULL DEFAULT nextval('training_corpus_id_seq'::regclass),
    text TEXT NOT NULL,
    category VARCHAR(50) NOT NULL,
    source VARCHAR(100),
    word_count INTEGER,
    has_example BOOLEAN DEFAULT false,
    has_dice_notation BOOLEAN DEFAULT false,
    has_rule_reference BOOLEAN DEFAULT false,
    metadata JSONB DEFAULT '{}'::jsonb,
    created_at TIMESTAMP DEFAULT NOW(),
    PRIMARY KEY (id)
);


-- user
CREATE TABLE IF NOT EXISTS user (
    id UUID NOT NULL DEFAULT uuid_in((OVERLAY(OVERLAY(md5((((random())::text || ':'::text) || (clock_timestamp())::text)) PLACING '4'::text FROM 13) PLACING to_hex((floor(((random() * (((11 - 8) + 1))::double precision) + (8)::double precision)))::integer) FROM 17))::cstring),
    email VARCHAR(255),
    firstName VARCHAR(32),
    lastName VARCHAR(32),
    password VARCHAR(255),
    personalizationAnswers JSON,
    createdAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    updatedAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    settings JSON,
    disabled BOOLEAN NOT NULL DEFAULT false,
    mfaEnabled BOOLEAN NOT NULL DEFAULT false,
    mfaSecret TEXT,
    mfaRecoveryCodes TEXT,
    role TEXT NOT NULL,
    lastActiveAt DATE,
    roleSlug VARCHAR(128) NOT NULL DEFAULT 'global:member'::character varying,
    PRIMARY KEY (id),
    UNIQUE (email),
    FOREIGN KEY (roleSlug) REFERENCES role(slug) ON DELETE CASCADE
);


-- user_api_keys
CREATE TABLE IF NOT EXISTS user_api_keys (
    id VARCHAR(36) NOT NULL,
    userId UUID NOT NULL,
    label VARCHAR(100) NOT NULL,
    apiKey VARCHAR(None) NOT NULL,
    createdAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    updatedAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    scopes JSON,
    PRIMARY KEY (id),
    FOREIGN KEY (userId) REFERENCES user(id) ON DELETE CASCADE
);


-- users
CREATE TABLE IF NOT EXISTS users (
    id UUID NOT NULL DEFAULT gen_random_uuid(),
    instance_id UUID,
    id UUID NOT NULL,
    email VARCHAR(255) NOT NULL,
    aud VARCHAR(255),
    display_name VARCHAR(100),
    role VARCHAR(255),
    created_at TIMESTAMP DEFAULT NOW(),
    email VARCHAR(255),
    last_login TIMESTAMP,
    is_active BOOLEAN DEFAULT true,
    encrypted_password VARCHAR(255),
    email_confirmed_at TIMESTAMP WITH TIME ZONE,
    invited_at TIMESTAMP WITH TIME ZONE,
    confirmation_token VARCHAR(255),
    confirmation_sent_at TIMESTAMP WITH TIME ZONE,
    recovery_token VARCHAR(255),
    recovery_sent_at TIMESTAMP WITH TIME ZONE,
    email_change_token_new VARCHAR(255),
    email_change VARCHAR(255),
    email_change_sent_at TIMESTAMP WITH TIME ZONE,
    last_sign_in_at TIMESTAMP WITH TIME ZONE,
    raw_app_meta_data JSONB,
    raw_user_meta_data JSONB,
    is_super_admin BOOLEAN,
    created_at TIMESTAMP WITH TIME ZONE,
    updated_at TIMESTAMP WITH TIME ZONE,
    phone TEXT DEFAULT NULL::character varying,
    phone_confirmed_at TIMESTAMP WITH TIME ZONE,
    phone_change TEXT DEFAULT ''::character varying,
    phone_change_token VARCHAR(255) DEFAULT ''::character varying,
    phone_change_sent_at TIMESTAMP WITH TIME ZONE,
    confirmed_at TIMESTAMP WITH TIME ZONE,
    email_change_token_current VARCHAR(255) DEFAULT ''::character varying,
    email_change_confirm_status SMALLINT DEFAULT 0,
    banned_until TIMESTAMP WITH TIME ZONE,
    reauthentication_token VARCHAR(255) DEFAULT ''::character varying,
    reauthentication_sent_at TIMESTAMP WITH TIME ZONE,
    is_sso_user BOOLEAN NOT NULL DEFAULT false,
    deleted_at TIMESTAMP WITH TIME ZONE,
    is_anonymous BOOLEAN NOT NULL DEFAULT false,
    PRIMARY KEY (id),
    PRIMARY KEY (id),
    PRIMARY KEY (id),
    PRIMARY KEY (id),
    UNIQUE (phone),
    PRIMARY KEY (id),
    PRIMARY KEY (id),
    PRIMARY KEY (id),
    PRIMARY KEY (id),
    UNIQUE (email)
);


-- variables
CREATE TABLE IF NOT EXISTS variables (
    key VARCHAR(50) NOT NULL,
    type VARCHAR(50) NOT NULL DEFAULT 'string'::character varying,
    value VARCHAR(255),
    id VARCHAR(36) NOT NULL,
    UNIQUE (key),
    PRIMARY KEY (id)
);


-- webhook_entity
CREATE TABLE IF NOT EXISTS webhook_entity (
    webhookPath VARCHAR(None) NOT NULL,
    method VARCHAR(None) NOT NULL,
    node VARCHAR(None) NOT NULL,
    webhookId VARCHAR(None),
    pathLength INTEGER,
    workflowId VARCHAR(36) NOT NULL,
    PRIMARY KEY (webhookPath),
    PRIMARY KEY (webhookPath),
    PRIMARY KEY (method),
    PRIMARY KEY (method),
    FOREIGN KEY (workflowId) REFERENCES workflow_entity(id) ON DELETE CASCADE
);


-- workflow_entity
CREATE TABLE IF NOT EXISTS workflow_entity (
    name VARCHAR(128) NOT NULL,
    active BOOLEAN NOT NULL,
    nodes JSON NOT NULL,
    connections JSON NOT NULL,
    createdAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    updatedAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    settings JSON,
    staticData JSON,
    pinData JSON,
    versionId CHARACTER,
    triggerCount INTEGER NOT NULL DEFAULT 0,
    id VARCHAR(36) NOT NULL,
    meta JSON,
    parentFolderId VARCHAR(36) DEFAULT NULL::character varying,
    isArchived BOOLEAN NOT NULL DEFAULT false,
    PRIMARY KEY (id),
    FOREIGN KEY (parentFolderId) REFERENCES folder(id) ON DELETE CASCADE
);


-- workflow_history
CREATE TABLE IF NOT EXISTS workflow_history (
    versionId VARCHAR(36) NOT NULL,
    workflowId VARCHAR(36) NOT NULL,
    authors VARCHAR(255) NOT NULL,
    createdAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    updatedAt TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    nodes JSON NOT NULL,
    connections JSON NOT NULL,
    PRIMARY KEY (versionId),
    FOREIGN KEY (workflowId) REFERENCES workflow_entity(id) ON DELETE CASCADE
);


-- workflow_statistics
CREATE TABLE IF NOT EXISTS workflow_statistics (
    count INTEGER DEFAULT 0,
    latestEvent TIMESTAMP WITH TIME ZONE,
    name VARCHAR(128) NOT NULL,
    workflowId VARCHAR(36) NOT NULL,
    rootCount INTEGER DEFAULT 0,
    PRIMARY KEY (workflowId),
    PRIMARY KEY (workflowId),
    PRIMARY KEY (name),
    PRIMARY KEY (name),
    FOREIGN KEY (workflowId) REFERENCES workflow_entity(id) ON DELETE CASCADE
);


-- workflows_tags
CREATE TABLE IF NOT EXISTS workflows_tags (
    workflowId VARCHAR(36) NOT NULL,
    tagId VARCHAR(36) NOT NULL,
    PRIMARY KEY (workflowId),
    PRIMARY KEY (workflowId),
    PRIMARY KEY (tagId),
    PRIMARY KEY (tagId),
    FOREIGN KEY (workflowId) REFERENCES workflow_entity(id) ON DELETE CASCADE,
    FOREIGN KEY (tagId) REFERENCES tag_entity(id) ON DELETE CASCADE
);


